Source: jicofo
Section: net
Priority: extra
Maintainer: Vatchit Team <info@ultrainfotech.net>
Uploaders: Yuvraj Bhogle <devsupport2@ultrainfotech.net>
Build-Depends: debhelper, java8-runtime-headless | java8-runtime | java11-runtime-headless | java11-runtime, maven
Standards-Version: 3.9.3
Homepage: https://vatchit.in

Package: jicofo
Architecture: all
Depends: ${misc:Depends}, java8-runtime-headless | java8-runtime | java11-runtime-headless | java11-runtime
Description: JItsi Meet COnference FOcus
 Jicofo is a conference focus for Jitsi Meet application.
